html, body {
  height: 100%;
  margin: 0;
}

.tab, #tab0, #tab1, #tab2, #tab3, #tab4 {
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  box-shadow: 6px 0px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}
.tab:hover ~ div, #tab0:hover ~ div, #tab1:hover ~ div, #tab2:hover ~ div, #tab3:hover ~ div, #tab4:hover ~ div {
  transform: translateX(-79vw);
}

#tab0 {
  width: 100vw;
  background: #2ecc71;
}

#tab1 {
  width: 95vw;
  background: #f9c922;
}
#tab1::after {
  content: '';
  position: absolute;
  width: 5vw;
  height: 25vh;
  background: #f9c922;
  border-radius: 0 20px 20px 0;
  top: 75%;
  right: -4vw;
}

#tab2 {
  width: 90vw;
  background: #e74c3c;
}
#tab2::after {
  content: '';
  position: absolute;
  width: 5vw;
  height: 25vh;
  background: #e74c3c;
  border-radius: 0 20px 20px 0;
  top: 50%;
  right: -4vw;
}

#tab3 {
  width: 85vw;
  background: #3498db;
}
#tab3::after {
  content: '';
  position: absolute;
  font-size: 200px;
  width: 5vw;
  height: 25vh;
  background: #3498db;
  border-radius: 0 20px 20px 0;
  top: 25%;
  right: -4vw;
}

#tab4 {
  width: 80vw;
  background: #222222;
}
#tab4::after {
  content: '';
  position: absolute;
  width: 5vw;
  height: 25vh;
  background: #222222;
  border-radius: 0 20px 20px 0;
  top: 0;
  right: -4vw;
}
